.common-tbl-btn-group > button.sm{width:80px;}
.qna-view .comm-tbl td textarea{width:86%;}
button.commentRegi{width:10%; height:60px; border-radius:5px; font-size:17px; color:#fff; margin-left:10px; vertical-align:middle; background-color:rgba(254,67,30);}
